{% extends "repo/base.html" %}
{% load static %}
{% block content %}

    <section id="services">
      <div class="container">
        <div class="row text-left">
          <div class="col-md-4">
            <img src="{% static 'repo/css/images/3.jpg' %}" alt="" class="service-img">
            <br/><br/>
            <h4>Azio PRISM USB Wired</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi pariatur nihil, dolores sunt quis facilis repellat quo aperiam. Nesciunt maxime fugit ducimus rem vel perspiciatis voluptate quia quos inventore.</p>
            <p><a href="">Read More>></a></p>
            </div>


            <div class="col-md-4">
              <img src="{% static 'repo/css/images/44.jpg' %}" height="200px" alt="" class="service-img">
              <br/><br/>
            <h4>An introduction to react native</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi pariatur nihil, dolores sunt quis facilis repellat quo aperiam. Nesciunt maxime fugit ducimus rem vel perspiciatis voluptate quia quos inventore.</p>
              <p><a href="">Read More>></a></p> 
            </div>


            <div class="col-md-4">
              <img src="{% static 'repo/css/images/wall.jpg' %}" alt="" class="service-img">
              <br/><br/>
              <h4>Thinking in a function</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi pariatur nihil, dolores sunt quis facilis repellat quo aperiam. Nesciunt maxime fugit ducimus rem vel perspiciatis voluptate quia quos inventore.</p>
              <p><a href="">Read More>></a></p> 
            </div>


            <div class="col-md-4">
              <img src="{% static 'repo/css/images/kira2.jpg' %}" alt="" class="service-img">
              <br/><br/>
              <h4>Kira | Camera Robot</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi pariatur nihil, dolores sunt quis facilis repellat quo aperiam. Nesciunt maxime fugit ducimus rem vel perspiciatis voluptate quia quos inventore.</p>
              <p><a href="">Read More>></a></p> 
            </div>


            <div class="col-md-4">
              <img src="{% static 'repo/css/images/iphone.jpg' %}" alt="" class="service-img">
              <br/><br/>
              <h4>Apple iPhone 11 </h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi pariatur nihil, dolores sunt quis facilis repellat quo aperiam. Nesciunt maxime fugit ducimus rem vel perspiciatis voluptate quia quos inventore.</p>
              <p><a href="">Read More>></a></p> 
            </div>


            <div class="col-md-4">
              <img src="{% static 'repo/css/images/bg1.jpeg' %}" alt="" class="service-img">
              <br/><br/>
              <h4>Alexa 2020</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi pariatur nihil, dolores sunt quis facilis repellat quo aperiam. Nesciunt maxime fugit ducimus rem vel perspiciatis voluptate quia quos inventore.</p>
              <p><a href="">Read More>></a></p> 
            </div>
        </div>
      </div>
    </section>

{% endblock content %}